.recommended-friends {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25px 0px;
    margin: 25px 0px;
}

.recommended-friends__title {
    font-size: 14px;
    color: var(--main-lightfont);
}

.recommended-friends span {
    margin: 100px 0;
    display: block;
    /*span은 inline이기 때문에 margin이 적용되지 않는다 따라서 block*/
    text-align: center;
    font-size: 18px;
    color: var(--main-lightfont);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtags {
    opacity: 0.6;
    text-transform: uppercase;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 1.3px;
    height: 15px;
    margin: 0px 5px;
    background: rgba(0, 0, 0, 0.3);
}

.open-post__member-status {
    color: #ff8bd1;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__photo {
    position: relative;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-size: 12px;
}

.open-post__heart-count span {
    margin-left: 3px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.5);
    }
    100% {
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
